body{
    height: 100vh;
    background: url(todo.jpg) no-repeat center center/cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#add-task-container{
    width: 350px;
    padding: 20px 10px;
    background-color: rgb(0, 0, 0 ,0.5);
    
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;

    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

input{
    /* Increase the size of the flex item */
    flex: 5;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px;
    transition: 0.3s;
}
#add-task{
    flex:1;
    font-size: 1.2rem;
    padding: 5px;
    color: green;
    border: green solid 2px;
    border-radius: 5px;

    transition: 0.5s;
}

#add-task:hover{
    cursor: pointer;
    background-color: rgb(6, 158, 6);
    color: white;
}

input:focus{
    padding-top: 4px;
    font-size: 1rem;
} 

.task{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px black;

    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
}

.task button{
    flex: 1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.task .checkTask{
    color: orange;
    margin-right: 5px;
    border: solid 2px orange;
    font-size: 1.5rem;
}
.task .deleteTask{
    color: red;
    border: solid 2px red;
    font-size: 1.3rem;
}